<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344112592463-hofo0v870suk7tdib8v9utl8rbaljha7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344112592463-hofo0v870suk7tdib8v9utl8rbaljha7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>344112592463-ugh8s8rmnve7297mm6mdhklbvd8fprel.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBbSCAf2T-RL_aCtmLHWSDF1nglK6kDvqM</string>
	<key>GCM_SENDER_ID</key>
	<string>344112592463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wemofy.productiq.ios</string>
	<key>PROJECT_ID</key>
	<string>productq1</string>
	<key>STORAGE_BUCKET</key>
	<string>productq1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344112592463:ios:62a3ee7e9b660a1ad85c3a</string>
</dict>
</plist>